<!-- <mat-card >
        <mat-card-content style="height: 300;" *ngIf="showImage">

        {{movie.Title}}
    </mat-card-content>
</mat-card> -->
<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
        <img mat-card-image src="../../assets/MoviePosterTemplate.JPG" alt="Movie Poster"
            style="height: 213px; width: 170px; margin: 10px;">
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="font-weight: bold;"> Movie: {{movie.Title}}</div>
    </mat-grid-tile>
</mat-grid-list>