<a href="https://medium.com/swlh/angular-elements-and-ngzone-dynamic-content-projection-solution-6056dbe4fa84"
    target="_blank" style="font-size: x-large;">
    Full Specs and Documentation!
</a>
<span style="font-size: x-large; margin-left: 20%;">Dynamic Material Table</span>
<span style="margin-left: 30%;">Author:
    <a href="https://bavaleakash.github.io/" target="_blank">
        Akash Bavale
    </a>
</span>
<p *ngIf="!showTable" class="para">loading table...</p>
<dmat-table [tableData]="tableData" [updateTable]="updateTable" *ngIf="showTable">

    <!-- Corner options : mat-icon-button="global-button" is the key to display this content-projection -->
    <button mat-icon-button="global-button" class="mat-button">
        <mat-icon [matTooltip]="'Do Something!'">add</mat-icon>
    </button>
    <button mat-icon-button="global-button" class="mat-button" [matMenuTriggerFor]="moreItems">
        <mat-icon [matTooltip]="'more'">more_vert</mat-icon>
    </button>
    <mat-menu #moreItems="matMenu">
        <button mat-menu-item>
            <mat-icon>assignment</mat-icon>Do something else!
        </button>
    </mat-menu>

</dmat-table>

<router-outlet></router-outlet>
